{% extends "fullsite/base.html" %}
{% block content %}

<div class="position-relative overflow-hidden  text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Upcoming Events</h1>
        <h3 class="fw-normal text-muted mb-3">Never miss out on the latest thrills at Dundalk Stadium!</h3>
    </div>
</div>

<section class="events grow">
    <div class="container event" id="photo-1">
        <div class="event-text-box mx-sm-5 px-sm-5 py-sm-5">
            <div class="event-info">
                <br>
                <h2 class="text-uppercase">"Racing for a Cause"</h3>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-calendar-plus"></i> 17/02/2025</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-clock"></i> 19:00 - 22:00</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-ticket"></i> 15€ Per Person</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-location-dot"></i> Dundalk Stadium</h5>
                    <br>
                    <p class="lead px-2">Join us for "Racing for a Cause" at Dundalk Stadium, featuring thrilling horse and
                        greyhound
                        races with special guest Liam Neeson. Support local charities while enjoying an exciting day of
                        sport
                        and entertainment. Be part of an event that makes a difference!</p>
                    <br>
                    <p class="lead"><i>* Tickets sold at the entrance *</i></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container event" id="photo-2">
        <div class="event-text-box mx-sm-5 px-sm-5 py-sm-5">
            <div class="event-info">
                <br>
                <h2 class="text-uppercase">Horse racing finals</h3>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-calendar-plus"></i> 25/02/2025</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-clock"></i> 19:30 - 22:30</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-ticket"></i> Adults 10€ / Kids free</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-location-dot"></i> Dundalk Stadium</h5>
                    <br>
                    <p class="lead px-2">Horse Racing Finals are finally here! Experience
                        the thrill of top competitors as they race for glory in this prestigious event. Enjoy a day
                        filled with fast-paced action, vibrant atmosphere, and the chance to witness the best horses and
                        riders showcase their skills. Don’t miss out on a spectacular finale that promises to be a
                        highlight of the racing season!</p>
                    <br>
                    <p class="lead"><i>* Tickets sold at the entrance *</i></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container event" id="photo-3">
        <div class="event-text-box mx-sm-5 px-sm-5 py-sm-5">
            <div class="event-info">
                <br>
                <h2 class="text-uppercase">European Basketball Championship:</h3>
                <h4 class="text-uppercase">Ireland vs France</h4>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-calendar-plus"></i> 28/02/2025</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-regular fa-clock"></i> 20:00 - 23:00</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-ticket"></i> Free Event!</h5>
                    <br>
                    <h5 class="lead text-uppercase"><i class="fa-solid fa-location-dot"></i> Dundalk Stadium</h5>
                    <br>
                    <p class="lead px-2">Don't miss out on an unforgettable clash in the European Basketball Championship as Ireland takes on France in a highly anticipated showdown! Experience the intensity of this high-stakes matchup as both teams showcase their incredible skills and teamwork. Don’t miss the chance to witness this thrilling game in a vibrant atmosphere that unites fans from across the continent. Be there to cheer for Ireland and support your team as they compete for victory in European basketball at its finest!</p>
                    <br>
                    <p class="lead"><i>* Tickets sold at the entrance *</i></p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}