{% extends "fullsite/base.html" %}
{% block content %}
{% load static %}

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
  </symbol>
</svg>

<section id="hero" class="img-fluid">
  <div class="container col-xxl-8 px-4 py-5" id="hero-text">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static '/img/dundalk.png' %}" id="hero-img-small" class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Discover<br>Dundalk Stadium</h1>
        <p class="lead">Ireland's top destination for basketball, football, and live entertainment! Explore our upcoming
          events and reserve your court times easily through our online booking system. Enjoy state-of-the-art
          facilities and create unforgettable moments with us!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">Events</button>
          <button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2">Bookings</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- News Section -->

<section id="news" class="container">
  <div class="position-relative overflow-hidden  text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Latest News</h1>
      <h3 class="fw-normal text-muted mb-3">Stay Informed with the Latest News!</h3>
    </div>
  </div>
  <div class="row">
    {% for news in news %}
    <div class="col-md-6 mb-2">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Stadium</strong>
          <h3 class="mb-0">{{ news.title }}</h3>
          <div class="mb-1 text-body-secondary">By {{ news.author }} on {{ news.date_posted|date:"F d, Y" }}</div>
          <p class="card-text mb-auto">{{ news.content|truncatechars:100 }}</p>
          <a href="{% url 'news' news.id %}" class="icon-link gap-1 icon-link-hover  stretched-link">
            Continue reading
            <svg class="bi">
              <use xlink:href="#chevron-right" /></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if news.thumbnail %}
          <img src="{{ news.thumbnail.url }}" alt="{{ news.title }} thumbnail" class="img-fluid"
            style="width: 200px; height: 250px; object-fit: cover;" />
          {% else %}
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Thumbnail</text>
          </svg>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Facilities Section -->
<section id="facilities">
  <div class="position-relative overflow-hidden  text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Facilities</h1>
      <h3 class="fw-normal text-muted mb-3">Check out our current Facilities!</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="#">
          Booking
          <svg class="bi">
            <use xlink:href="#chevron-right" /></svg>
        </a>
        <a class="icon-link" href="#">
          Events
          <svg class="bi">
            <use xlink:href="#chevron-right" /></svg>
        </a>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 bg-dark text-white ">
    <div class="text-center my-auto grow">
      <div class="py-5 mx-5">
        <img src="{% static '/svg/horse-racing.svg' %}" style="width: 50px; height: 50px;" />
        <h2 class="display-5">Racing Stadium</h2>
        <p class="lead">Immerse yourself in the excitement of horse and greyhound racing at our specialized racing
          stadium. Designed exclusively for these thrilling events, the stadium offers comfortable seating, clear track
          views, and a vibrant atmosphere for fans of all ages.</p>
      </div>
    </div>
    <div class="bg-body-tertiary text-center overflow-hidden grow">
      <div>
        <img src="{% static '/img/horseracing.webp' %}" class="img-fluid"
          style="width: 100%; height: 464px; object-fit: cover;" />
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 bg-light text-dark flex-columns">
    <div class="bg-body-tertiary text-center overflow-hidden grow" id="div1">
      <div>
        <img src="{% static '/img/basketball-dunk.webp' %}" class="img-fluid"
          style="width: 100%; height: 464px; object-fit: cover;" />
      </div>
    </div>
    <div class="text-center my-auto grow" id="div2">
      <div class="py-5 mx-5">
        <img src="{% static '/svg/basketball-basket.svg' %}" style="width: 50px; height: 50px;" />
        <h2 class="display-5">Basketball Courts</h2>
        <p class="lead">Our premium basketball courts are built for both casual play and professional games. Featuring
          high-quality flooring, adjustable hoops, and ample spectator seating, they provide an ideal setting for
          players
          and fans to enjoy the sport.

        </p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 bg-dark text-white">
    <div class="text-center my-auto grow">
      <div class="py-5 mx-5">
        <img src="{% static '/svg/football.svg' %}" style="width: 50px; height: 50px;" />
        <h2 class="display-5">Football Pitch</h2>
        <p class="lead">Step onto a world-class football pitch designed to FIFA standards. Whether for practice sessions
          or competitive matches, the lush, well-maintained grass and excellent lighting make it a pitch to remember.
        </p>
      </div>
    </div>
    <div class="bg-body-tertiary text-center overflow-hidden grow">
      <div>
        <img src="{% static '/img/football-field.webp' %}" class="img-fluid"
          style="width: 100%; height: 464px; object-fit: cover;" />
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 bg-light text-dark flex-columns">
    <div class="bg-body-tertiary text-center overflow-hidden grow" id="div1">
      <div>
        <img src="{% static '/img/concert-hall.webp' %}" class="img-fluid"
          style="width: 100%; height: 464px; object-fit: cover;" />
      </div>
    </div>
    <div class="text-center my-auto grow" id="div2">
      <div class="py-5 mx-5">
        <img src="{% static '/svg/concert.svg' %}" style="width: 50px; height: 50px;" />
        <h2 class="display-5">Concert Arena</h2>
        <p class="lead">The concert arena offers a vibrant space for live performances, with cutting-edge acoustics,
          dynamic lighting systems, and seating for thousands. Guests can also enjoy drinks and meals at our on-site bar
          and restaurant, adding to the ultimate entertainment experience.</p>
      </div>
    </div>
  </div>
</section>

<!-- Opening Hours Section -->
<section id="opening-hours" class="container my-5">
  <div>
    <div>
      <h1 class="display-5 my-3">Opening Hours</h1>
      <table class="lead">
        <tr>
          <td>Monday</td>
          <td>10:00–22:00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>10:00–22:00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>10:00–22:00</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>10:00–22:00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>10:00–22:00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>08:00–00:00</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>08:00–00:00</td>
        </tr>
      </table>
      <p class="my-3 lead"><i>* Opening Hours might be different on event days. *</i></p>
      <p class="lead"><i>* Restaurant / Bar services are only available during live events. *</i></p>
    </div>
  </div>
</section>
{% endblock content %}